.input-form{
  width:30%;
  height:auto;
  margin:auto;
  display: flex;
  flex-direction: column;
  margin-top:50px;
}
.input{
  padding:10px;
  margin:5px;
}
.button{
  width:100px;
  padding:5px;
  margin:10px auto;

}
